# Terraform files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Local .terraform directories
**/.terraform.lock.hcl

# Docker
*.dockerignore
docker-compose.yml

# Python
__pycache__/
*.py[cod]
venv/
env/
